$white: #FFFFFF
$gray: #D8D5D5
$yellow: #E3A845
$orange: #EB922C
$deep-orange: #D2612B
$light-orange: #FCDBA4
$dim-gray: #3E3C37


body
  font-family: 'Open Sans', sans-serif !important

.fluid
  width: 100%

.image-container
  position: absolute
  left: 0
  width: calc(100vw - 20px)
  display: flex
  justify-content: space-between

.pl-0
  padding-left: 0 !important

@mixin button-shadow($blur:5px, $spread:1px, $darkness:.5)
  box-shadow: 2px 2px $blur $spread rgba(0,0,0, $darkness)

@mixin section-margin($m: 350px)
  margin-top: $m

@mixin transition($speed: 300ms)
  transition: $speed ease-in-out
  &:hover
    transition: $speed ease-in-out

.transition
  transition: 300ms ease-in-out

.primary-button
  @include transition(200ms)
  @include button-shadow()
  &:hover
    @include transition(200ms)
    @include button-shadow(5px, 1px, .7)
    cursor: pointer
    transform: translateY(-2px)
