.heading
  font-weight: bold
  font-size: 30px
  padding: 30px 0 !important


.rects-top
  @extend .image-container
  top: 0

.rects-bot
  @extend .image-container
  margin-top: -180px

.proceed
  @extend .primary-button
  border: none
  background: $orange
  color: $white
  font-weight: bold
  font-size: 20px
  padding: 12px 32px !important
  position: relative
  z-index: 10
  &:hover
    cursor: pointer
  span
    padding: 0 15px
    &:hover
      cursor: pointer
  img
    margin-top: 2px
    &:hover
      cursor: pointer

.wrapper
  @include section-margin(280px)
  position: relative
  z-index: 10

.wrapper-inner
  margin-top: 80px

