.hero
  height: 800px

.wrapper
  position: relative
  z-index: 10
  padding-top: 350px
  padding-left: 0 !important
  padding-right: 0 !important

.wrapper-inner
  min-height: 500px
  padding: 0 !important

.primary-bg
  position: absolute
  top: 0
  z-index: 0
  height: 3480px
  width: 100%
  @include section-margin(800px)
