.wrapper
  position: relative
  z-index: 10
  min-height: 451px
  margin-bottom: 200px
  background-repeat: no-repeat

.image
  transform: scale(0.90) translate(15%, -10%)


.title
  color: $white
  font-size: 20px
  font-weight: bold

.text
  color: $white
  display: -webkit-box
  -webkit-box-orient: vertical
  text-overflow: ellipsis
  line-clamp: 5

.proceed
  @extend .primary-button
  text-decoration: none
  color: $white
  background: $deep-orange
  padding: 4px 16px
  &:hover
    color: $white

.diamonds
  display: flex
  width: 60%
  justify-content: space-between
  position: absolute
  z-index: 20
  top: 0
  @include media-breakpoint-down(xl)
    display: none

.diamond-left
  transform: translate(-120%, 120%)

.diamond-right
  transform: translate(-225%, -50%)
