
.heading
  font-weight: bold
  font-size: 30px
  padding: 30px 0 !important


.rects-top
  @extend .image-container
  top: 0

.proceed
  @include button-shadow()
  border: none
  background: $orange
  color: $white
  font-weight: bold
  font-size: 20px
  padding: 12px 32px !important
  &:hover
    cursor: pointer
  span
    padding: 0 15px
    &:hover
      cursor: pointer
  img
    margin-top: 2px
    &:hover
      cursor: pointer
