.primary-bg
  min-height: 300px
  position: absolute
  z-index: 10

.wrapper
  position: relative
  z-index: 10
  display: flex


.skin-module
  min-height: 900px

.hero-p
  position: absolute
  overflow: hidden
  z-index: 0
