.wrapper
  position: relative
  z-index: 10
  margin-bottom: 90px

.advantages
  position: relative
  z-index: 10
  background: $background-orange
  padding-bottom: 20px

.privilege
  font-weight: bold

.privilege-caption
  padding: 0 !important
  @include media-breakpoint-up(md)
    padding: inherit

.privilege-header
  border-bottom: 2px solid $orange
  padding: 10px 0
  font-size: 12px
  @include media-breakpoint-up(md)
    font-size: inherit

.tier-two
  background: $light-orange

.tier-three
  background: $semi-light-orange

.tier-four
  background: $yellow

.tier-five
  background: $orange

.trait
  white-space: pre-line
  word-wrap: break-word
